# **Data Preparation for Udacity Data Science Nanodegree - Project Data Science Blog**

Author: Carolina Barros

### Table of Contents
1. [Introduction & Objective](#1-introduction--objective)
2. [Importing Libraries](#2-importing-libraries)
3. [Loading the Dataset](#3-loading-the-dataset)
4. [Data Cleaning & Preprocessing](#4-data-cleaning--preprocessing)

### 1. Introduction & Objective

This notebook analyzes the dataset from the 2024 Stack Overflow Developer Survey. Given the dataset's large size (over 155 MB), this notebook focuses on preprocessing the data to reduce its size and create a more manageable format.

### 2. Importing Libraries

In [ ]:
# Required libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 3. Loading the Dataset

In [ ]:
# Read survey results 

df_survey = pd.read_csv("../data/survey_results_public.csv")

In [8]:
df_survey.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

In [13]:
df_survey.shape

(65437, 114)

In [14]:
df_survey.columns

Index(['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=114)

['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check', 'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline', 'TechDoc', 'YearsCode', 'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'BuildvsBuy', 'TechEndorse', 'Country', 'Currency', 'CompTotal', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'LanguageAdmired', 'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith', 'DatabaseAdmired', 'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'PlatformAdmired', 'WebframeHaveWorkedWith', 'WebframeWantToWorkWith', 'WebframeAdmired', 'EmbeddedHaveWorkedWith', 'EmbeddedWantToWorkWith', 'EmbeddedAdmired', 'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith', 'MiscTechAdmired', 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith', 'ToolsTechAdmired', 'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'NEWCollabToolsAdmired', 'OpSysPersonal use', 'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith', 'OfficeStackAsyncAdmired', 'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith', 'OfficeStackSyncAdmired', 'AISearchDevHaveWorkedWith', 'AISearchDevWantToWorkWith', 'AISearchDevAdmired', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOHow', 'SOComm', 'AISelect', 'AISent', 'AIBen', 'AIAcc', 'AIComplex', 'AIToolCurrently Using', 'AIToolInterested in Using', 'AIToolNot interested in Using', 'AINextMuch more integrated', 'AINextNo change', 'AINextMore integrated', 'AINextLess integrated', 'AINextMuch less integrated', 'AIThreat', 'AIEthics', 'AIChallenges', 'TBranch', 'ICorPM', 'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4', 'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8', 'Knowledge_9', 'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering', 'Frustration', 'ProfessionalTech', 'ProfessionalCloud', 'ProfessionalQuestion', 'Industry', 'JobSatPoints_1', 'JobSatPoints_4', 'JobSatPoints_5', 'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9', 'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly', 'JobSat']

In [17]:
df_survey.dtypes

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

In [18]:
df_survey.isna().sum()

ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

In [24]:
# It seems that there are some columns with a lot of values, I am going to chek how many columns have more that 80% of missing values and evaluate wheter if I remove then from the dataset

threshold = 0.7 # 70% of missing values
missing_ratio = df_survey.isna().mean()
print(missing_ratio)

ResponseId             0.000000
MainBranch             0.000000
Age                    0.000000
Employment             0.000000
RemoteWork             0.162462
                         ...
JobSatPoints_11        0.550025
SurveyLength           0.141434
SurveyEase             0.140578
ConvertedCompYearly    0.641869
JobSat                 0.554900
Length: 114, dtype: float64

In [25]:
cols_to_drop = missing_ratio[missing_ratio > threshold].index

In [26]:
cols_to_drop

Index(['EmbeddedWantToWorkWith', 'EmbeddedAdmired',
       'AINextMuch more integrated', 'AINextNo change',
       'AINextLess integrated', 'AINextMuch less integrated'],
      dtype='object')

After reading the features description on the schema file, I am gonna keep the features I believe could be relevant for the objective which is analyzing which factors influence developer salaries.
Columns I believe could be relevant:
- **Main Branch:** Which of the following options best describes you today? For the purpose of this
survey, a developer is "someone who writes code" (Developer, Not primarily a Developer, Used to be a Developer, Learning the code, code as a hobby, none of these.)
- **Age:** What is your age?
- **Employement:** Employement status (full-time, part-time, freelancer, looking for work, not looking for work, full-time student, part-time student, retired, I prefer not to say)
- **Remote Work:** Remote, In-person, Hybrid.
- **Ed Level:** Education level.
- **Years Code:**  Including any education, how many years have you been coding in total?
- **Years Code Pro:**  how many years have you coded professionally (as a part of your work)?
- **DevType**: Which of the following describes your current job.
- **OrgSize**:  how many people are employed by the company or organization you currently work for? 
- **Country** : Where do you live?
- **Currency** : Which currency do you use day-to-day?
- **CompTotal**: What is your current total annual compensation (salary, bonuses, and perks, before taxes and deductions)?
- **Language**: Which programming, scripting, and markup languages have you done extensive development work in over the past year, and which do you want to work in over the next year?
- **Database**: Which database environments have you done extensive development work in over the past year, and which do you want to work in over the next year?
- **Platform**: Which cloud platforms have you done extensive development work in over the past year, and which do you want to work in over the next year?
- **WorkExp**: How many years of working experience do you have?
- **Industry**: What industry is the company you work for in?
- **JobSat**: How satisfied are you in your current professional developer role?

In [28]:
print(list(df_survey.columns))

['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check', 'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline', 'TechDoc', 'YearsCode', 'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'BuildvsBuy', 'TechEndorse', 'Country', 'Currency', 'CompTotal', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'LanguageAdmired', 'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith', 'DatabaseAdmired', 'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'PlatformAdmired', 'WebframeHaveWorkedWith', 'WebframeWantToWorkWith', 'WebframeAdmired', 'EmbeddedHaveWorkedWith', 'EmbeddedWantToWorkWith', 'EmbeddedAdmired', 'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith', 'MiscTechAdmired', 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith', 'ToolsTechAdmired', 'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'NEWCollabToolsAdmired', 'OpSysPersonal use', 'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith', 'OfficeStackAsyncAdmired', 'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith', 'OfficeStackSyncAdmired', 'AISearchDevHaveWorkedWith', 'AISearchDevWantToWorkWith', 'AISearchDevAdmired', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOHow', 'SOComm', 'AISelect', 'AISent', 'AIBen', 'AIAcc', 'AIComplex', 'AIToolCurrently Using', 'AIToolInterested in Using', 'AIToolNot interested in Using', 'AINextMuch more integrated', 'AINextNo change', 'AINextMore integrated', 'AINextLess integrated', 'AINextMuch less integrated', 'AIThreat', 'AIEthics', 'AIChallenges', 'TBranch', 'ICorPM', 'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4', 'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8', 'Knowledge_9', 'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering', 'Frustration', 'ProfessionalTech', 'ProfessionalCloud', 'ProfessionalQuestion', 'Industry', 'JobSatPoints_1', 'JobSatPoints_4', 'JobSatPoints_5', 'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9', 'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly', 'JobSat']

In [39]:
# Filter relevant columns
columns_to_keep = ['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'EdLevel', 'YearsCode', 'YearsCodePro', 'DevType', 'OrgSize', 'Country', 'Currency', 'CompTotal',
  'LanguageHaveWorkedWith', 'DatabaseHaveWorkedWith',  'PlatformHaveWorkedWith', 'WebframeHaveWorkedWith', 'WorkExp', 'Industry', 'JobSat']

df_survey_filtered = df_survey[columns_to_keep]

df_survey_filtered.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,DevType,OrgSize,Country,Currency,CompTotal,LanguageHaveWorkedWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,WorkExp,Industry,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Primary/elementary school,NaN,NaN,NaN,NaN,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,17,"Developer, full-stack",NaN,United Kingdom of Great Britain and Northern I...,NaN,NaN,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Dynamodb;MongoDB;PostgreSQL,Amazon Web Services (AWS);Heroku;Netlify,Express;Next.js;Node.js;React,17.0,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",37,27,Developer Experience,NaN,United Kingdom of Great Britain and Northern I...,NaN,NaN,C#,Firebase Realtime Database,Google Cloud,ASP.NET CORE,NaN,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Some college/university study without earning ...,4,NaN,"Developer, full-stack",NaN,Canada,NaN,NaN,C;C++;HTML/CSS;Java;JavaScript;PHP;PowerShell;...,MongoDB;MySQL;PostgreSQL;SQLite,Amazon Web Services (AWS);Fly.io;Heroku,jQuery;Next.js;Node.js;React;WordPress,NaN,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,"Secondary school (e.g. American high school, G...",9,NaN,"Developer, full-stack",NaN,Norway,NaN,NaN,C++;HTML/CSS;JavaScript;Lua;Python;Rust,PostgreSQL;SQLite,NaN,NaN,NaN,NaN,NaN

In [40]:
missing_ratio = df_survey_filtered.isna().mean()
print(missing_ratio.sort_values(ascending=True))

ResponseId                0.000000
MainBranch                0.000000
Age                       0.000000
Employment                0.000000
EdLevel                   0.071107
YearsCode                 0.085089
LanguageHaveWorkedWith    0.086984
DevType                   0.091569
Country                   0.099439
RemoteWork                0.162462
YearsCodePro              0.211302
DatabaseHaveWorkedWith    0.232025
OrgSize                   0.274417
Currency                  0.286581
WebframeHaveWorkedWith    0.309855
PlatformHaveWorkedWith    0.352568
CompTotal                 0.484390
WorkExp                   0.546770
JobSat                    0.554900
Industry                  0.558996
dtype: float64

In [41]:
# Remove missing values, especifically comp total because it has 48% of missing values which is going to be the target variable

df_survey_filtered = df_survey_filtered.dropna()
df_survey_filtered.shape

(13977, 20)

In [42]:
df_survey_filtered

,ResponseId,MainBranch,Age,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,DevType,OrgSize,Country,Currency,CompTotal,LanguageHaveWorkedWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,WorkExp,Industry,JobSat
72,73,I am a developer by profession,18-24 years old,"Employed, full-time;Student, full-time;Indepen...","Hybrid (some remote, some in-person)","Secondary school (e.g. American high school, G...",3,1,Data scientist or machine learning specialist,100 to 499 employees,Pakistan,PKR\tPakistani rupee,2040000.0,Assembly;Bash/Shell (all shells);C;C++;HTML/CS...,MongoDB;MySQL;SQLite,Microsoft Azure;VMware,Angular;AngularJS;Express;FastAPI;Flask;jQuery...,3.0,Software Development,10.0
379,380,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",15,6,Data scientist or machine learning specialist,20 to 99 employees,Turkey,EUR European Euro,85000.0,JavaScript;Julia;Python;SQL;TypeScript,DuckDB;PostgreSQL;SQLite,Amazon Web Services (AWS);Cloudflare;Digital O...,Next.js;React;Vue.js,7.0,Computer Systems Design and Services,10.0
389,390,I am a developer by profession,25-34 years old,"Employed, full-time;Student, part-time",Remote,Some college/university study without earning ...,7,7,Student,10 to 19 employees,United States of America,USD\tUnited States dollar,110000.0,HTML/CSS;JavaScript;Python;SQL;TypeScript,IBM DB2;MySQL;SQLite,Amazon Web Services (AWS),FastAPI;Flask;Node.js;Vue.js,8.0,"Transportation, or Supply Chain",10.0
392,393,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)","Professional degree (JD, MD, Ph.D, Ed.D, etc.)",32,18,Engineering manager,"1,000 to 4,999 employees",United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,126420.0,C#;HTML/CSS;Java;JavaScript;MicroPython;Python...,BigQuery;Oracle;PostgreSQL,Amazon Web Services (AWS),React,18.0,Retail and Consumer Services,7.0
398,399,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Some college/university study without earning ...,38,30,"Developer, full-stack","1,000 to 4,999 employees",United States of America,USD\tUnited States dollar,195000.0,Bash/Shell (all shells);C#;HTML/CSS;JavaScript...,Microsoft SQL Server;PostgreSQL;Snowflake,Microsoft Azure,Angular;ASP.NET CORE;React,30.0,Healthcare,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65151,65152,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",20,14,"Developer, back-end","5,000 to 9,999 employees",Estonia,EUR European Euro,90000.0,Groovy;Java;SQL,MariaDB;MongoDB;PostgreSQL;Snowflake,Amazon Web Services (AWS),Spring Boot,14.0,Fintech,4.0
65161,65162,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",6,6,"Developer, full-stack","1,000 to 4,999 employees",France,EUR European Euro,40000.0,C#;JavaScript;Kotlin;PHP;Python,MySQL;Oracle;PostgreSQL,Firebase,Flask;Spring Boot,6.0,Software Development,6.0
65163,65164,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)","Associate degree (A.A., A.S., etc.)",8,2,"Developer, full-stack",10 to 19 employees,Germany,EUR European Euro,46000.0,Bash/Shell (all shells);C#;HTML/CSS;JavaScript...,Microsoft SQL Server;PostgreSQL,Cloudflare;Microsoft Azure;Vercel,ASP.NET;ASP.NET CORE;Next.js;Node.js,3.0,Software Development,9.0
65166,65167,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",9,7,"Developer, front-end","1,000 to 4,999 employees",Spain,EUR European Euro,81600.0,Bash/Shell (all shells);HTML/CSS;JavaScript;SQ...,Elasticsearch;Firebase Realtime Database;Maria...,Amazon Web Services (AWS);Cloudflare;Firebase;...,AngularJS;Astro;Express;Gatsby;jQuery;Next.js;...,8.0,Banking/Financial Services,8.0
65241,65242,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",13,10,Engineering manager,"10,000 or more employees",United States of America,USD\tUnited States dollar,185000.0,Kotlin,Dynamodb;PostgreSQL;SQLite,Amazon Web Services (AWS);Firebase;Google Clou...,Flask;React,10.0,Other:,5.0

In [43]:
df_survey_filtered.to_csv('../data/dataset.csv', sep =',')